
<h2 mat-dialog-title>{{data ? 'Kartviziti düzenle' : 'Yeni kartvizit ekle'}}</h2>
<mat-dialog-content class="mat-typography">
 <form [formGroup]="cardFrom">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Phone</mat-label>
    <input matInput formControlName="phone" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Adress</mat-label>
    <input matInput formControlName="adress" >
  </mat-form-field>
 </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Vazgeç</button>
  <button mat-button (click)="updateCard()" >{{data ? 'Duzenle' : 'Ekle'}}</button>
</mat-dialog-actions>
